/*
Theme Name: Portal de Ingresso
Theme URI: http://ingresso.ifrs.edu.br/
Author: Daniel Mazon da Silva, Ricardo Moro
Author URI: http://www.ifrs.edu.br/
Description: Tema para o Portal de Ingresso do IFRS.
Version: 1.0
License: GNU General Public License v3 & Creative Commons 4.0 (BY-NC-ND)
License URI: http://www.gnu.org/licenses/gpl-3.0.txt
Tags: portal,ingresso,ifrs
Template: ingresso
*/


@import url("../ingresso/style.css");

.center {
    text-align: center;
}

#conteudo {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #003366;
    color: #fff;
    font-size: 0.8em;
    padding-top: 10px;
    text-align: center;
}

footer .glyphicon {
    font-size: 0.9em;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #eee;
}
